<!-- Footer -->
<footer class="bg-dark">
    <br>
    <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"></nav> -->
    <div class="container bg-dark">
        <div class="row">
            <div class="col-md-4 footer-politique">
                <span class="copyright">Tous droits réservés - 2020 - Blog pro de Marc Lassort</span>
            </div>
            <div class="col-md-4 reseaux-sociaux" >
                <a href="https://facebook.com" class="fa fa-facebook-f" target="_blank"></a>
                <a href="https://twitter.com" class="fa fa-twitter" target="_blank"></a>
                <a href="https://instagram.com" class="fa fa-instagram" target="_blank"></a>

            </div>
            <div class="col-md-4 politique-confidentialite">
                <a href="/politique-de-confidentialite">Politique de confidentialité</a>
            </div>
            <br><br><br>
        </div>
    </div>
</footer>