{% extends '/templates/template.html.twig' %}

{% block title %}{{ parent() }}Erreur 500{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

<!-- 500 Error Text -->
<div class="text-center">
    <div class="error mx-auto" data-text="404">500</div>
    <p class="lead text-gray-800 mb-5">Erreur serveur</p>
    <p class="text-gray-500 mb-0">Il semble que vous ayez trouvé un trou dans la matrice...</p>
    <a href="/">&larr; Retour sur la page d'accueil</a>
</div>
{% endblock %}

