{% extends "/frontend/template.html.twig" %}

{% block title %}{{ string }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0 mt-xxl-5" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">À propos</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">{{ string }} est un développeur web spécialisé en PHP/Symfony qui travaille comme Growth Hacker chez Oaan Consulting, une entreprise spécialisée dans la rénovation énergétique.</p></div>
                <div class="col-lg-4 me-auto"><p class="lead">Développeur web full stack, avec une compétence particulière pour le développement WordPress, {{ string }} est également rédacteur de contenu, community manager et marketer digital.</p></div>
            </div>
            <!-- About Section Button-->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                    <i class="fas fa-download me-2"></i>
                    Télécharger mon CV
                </a>
            </div>
        </div>
    </section>
    <!-- Contact Section-->
    {# <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Me contacter</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <form>
                        <div class="form-floating">
                            <input class="form-control" id="inputName" type="text" placeholder="Enter your name..." />
                            <label for="inputName">Nom</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="inputEmail" type="email" placeholder="Enter your email..." />
                            <label for="inputEmail">Adresse email</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number..." />
                            <label for="inputPhone">Numéro de téléphone</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="inputMessage" placeholder="Enter your message here..." style="height: 12rem"></textarea>
                            <label for="inputMessage">Message</label>
                        </div>
                        <br />
                        <button class="btn btn-primary btn-xl" type="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </section> #}

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    {# <script src="js/scripts.js"></script> #}

{% endblock %}

