{% extends "/templates/template.html.twig" %}

{% block title %}{{ parent() }}Politique de confidentialité{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Politique de confidentialité</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">Article 1</p></div>
                <div class="col-lg-4 me-auto"><p class="lead">Article 2</p></div>
            </div>
        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    {# <script src="js/scripts.js"></script> #}

{% endblock %}

