{% extends '/templates/adminTemplate.html.twig' %}

{% block title %}{{ string }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

<!-- 404 Error Text -->
<div class="text-center">
    <h1 class="h3 mb-2 text-gray-800">Créer un article</h1>
    {# <p class="lead text-gray-800 mb-5">Page non trouvée</p> #}
    {# <p class="text-gray-500 mb-0">Il semble que vous ayez trouvé un trou dans la matrice...</p> #}

    <form action="/PHP/Blog-PHP/creer-un-article" method="post">
        <div class="titre-article mb-2 mt-5">
            <span>Titre : </span>
            <input type="text" name="content" id="" class="w-50">
        </div>
        <div class="contenu-article">
            <span>Contenu : </span>
            <textarea type="text" name="content" id="" class="w-50 mt-5" style="height: 150px;"></textarea>
        </div>
        <button type="submit" class="btn-primary mt-5 mb-4">Envoyer</button>
    </form>

    <a href="/PHP/Blog-PHP/admin">&larr; Retour au tableau de bord</a>

    

</div>
{% endblock %}